body {
    font-family: "Times New Roman", serif;
    background-color: white;
    color: black;
    margin: 40px;
    line-height: 1.8;
}

h1, h2 {
    text-align: center;
}

a {
    color: blue;
    text-decoration: underline;
}

.button {
    display: inline-block;
    margin-top: 30px;
}
